*{
    box-sizing: border-box;
}
body{
    background: rgb(163, 233, 136);
    margin: 5px;
}

#contenedor{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    border: 20px solid black;
}

h1{
    text-align: center;
}
p{
    text-align: justify;
}
#flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#caja1{
    background: red;
    border: 5px solid black;
    margin: 20px;
    padding: 20px;
}

#caja2{
    background: blue;
    border: 5px solid black;
    margin: 20px;
    padding: 20px;
}

#caja3{
    background: violet;
    border: 5px solid black;
    margin: 20px;
    padding: 20px;
}

#caja4{
    background: green;
    border: 5px solid black;
    margin: 20px;
    padding: 20px;
}

#caja5{
    background: yellow;
    border: 5px solid black;
    margin: 20px;
    padding: 20px;
}